@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

body {
  justify-content: center;
  align-items: center;     
  text-align: center;
}

h2{
  text-align: center;
}

footer{
  text-align: center;
  margin-top: 50px;
}

#title-page2{
  text-align: left;
}


